<div class="ion-autocomplete-container modal">
    <div class="bar bar-header bar-positive item-input-inset body--cody-gray">
        <label class="item-input-wrapper">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input type="search" class="ion-autocomplete-search" ng-model="searchQuery" placeholder="{{placeholder}}"/>
        </label>
        <button class="ion-autocomplete-cancel button button-clear">{{cancelLabel}}</button>
    </div>
    <ion-content class="has-header has-header">
        <ion-list>
            <ion-item class="item-divider" ng-show="selectedItems.length > 0">{{selectedItemsLabel}}</ion-item>
            <ion-item ng-repeat="selectedItem in selectedItems" type="item-text-wrap"
                      class="item-icon-left item-icon-right">
                <i class="icon ion-checkmark"></i>
                {{getItemValue(selectedItem, itemViewValueKey)}}
                <i class="icon ion-trash-a" style="cursor:pointer" ng-click="removeItem($index)"></i>
            </ion-item>
            <ion-item class="item-divider" ng-show="items.length > 0">{{selectItemsLabel}}</ion-item>
            <ion-item collection-repeat="item in items" item-height="55" item-width="100%" type="item-text-wrap" ng-click="selectItem(item)">
                {{getItemValue(item, itemViewValueKey)}}
            </ion-item>
        </ion-list>
    </ion-content>
</div>