.has-header-false {
  top: 0;
}

.ignore-pane {
  &.has-tabs-top {
    top: remify(92px) !important;
  }
}

.fix-list-padding {
  .list {
    .item:last-child {
      margin-bottom: remify(44px); // 3 x 44px heading height
    }
  }
}


.tabs-striped.tabs-color-dark{
  .tab-item.tab-item-active {
    color: #3bb9d7;
    border-color: #3bb9d7;
  }
}

/**
* Platform specific overrides for iOS
*/
.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader).item-input-inset.search-filter .item-input-wrapper {
    margin-top: 0 !important;
}

.platform-ios.platform-cordova:not(.fullscreen) .has-header.has-header-false, .platform-ios.platform-cordova:not(.fullscreen) .bar-subheader.has-header-false {
  top: remify(-1px) !important;
}

.platform-ios.platform-cordova:not(.fullscreen) {
  .ignore-pane {
    &.has-tabs-top {
      top: remify(112px) !important;
    }
  }
}